@using System.Linq;
@model UnavailabilityPeriod

@{
    var conferenceRoomList = ViewBag.ConferenceRoomList;
    SelectList uroomList = new SelectList(conferenceRoomList, "Id", "Code");
}

<div class="container shadow p-5">
    <div class="row pb-2">
        <h2>Add new Unavailability Period</h2>
    </div>
    <form method="post">
        <div asp-validation-summary="All"></div>
        <div class="form-row">
            <div class="form-group col-md-6">
                @Html.DropDownListFor(m => m.ConferenceRoomId,
                uroomList,
                "Select Room")
            </div>
            <div class="form-group col-md-6">
                <label asp-for="StartDate">StartDate</label>
                <input type="datetime-local" class="form-control mb-3" asp-for="StartDate" placeholder="Please insert StartDate">
                <span asp-validation-for="StartDate" class=" alert-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="EndDate">EndDate</label>
                <input type="datetime-local" class="form-control mb-3" asp-for="EndDate" placeholder="Please insert EndDate">
                <span asp-validation-for="EndDate" class=" alert-danger"></span>
            </div>

        </div>
        <button type="submit" class="btn btn-lg btn-primary p-2"><i class="bi bi-file-plus-fill"></i>Save</button>
        <a asp-controller="UnavailabilityPeriod" asp-action="Index" class="btn btn-lg btn-warning p-2">Back To List</a>
    </form>
</div>
@*//for front end validations*@
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }