@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
  
</head>
<body>

    <div class="text-center">
        <h1 style="font-size:50px">Welcome to the Conference Booking Rooms </h1>

        <p class="mb-4">We are happy to help you find the perfect Conference Meeting Room for your next event </p>
  
    </div>

</body>
</html>

<style>
    body {
        background-image: url("https://wallpaperaccess.com/full/4012613.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
