@model ConferenceRoom
<div class="container shadow p-5">
    <div class="row pb-2">
        <h2>Edit Conference Room</h2>
    </div>
    <form method="post" asp-action="Edit">
        <div asp-validation-summary="All"></div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Code">Code</label>
                <input type="text" class="form-control mb-3" asp-for="Code" placeholder="Please insert your Code">
                <span asp-validation-for="Code" class=" alert-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="MaxCapacity">MaxCapacity</label>
                <input type="number" class="form-control mb-3" asp-for="MaxCapacity">
                <span asp-validation-for="MaxCapacity" class=" alert-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-lg btn-primary p-2"><i class="bi bi-file-plus-fill"></i>Update</button>
        <a asp-controller="ConferenceRoom" asp-action="Index" class="btn btn-lg btn-warning p-2">Back To List</a>
    </form>
</div>
@*//for front end validations*@
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }